body{
    font-family: 'Nunito Semibold';
}
#content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, minmax(auto, auto));
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
}
#content div{
    color: #33323D;
    padding: 30px;
}
#content div:nth-child(even){
    background: #fffefe;
    padding: 30px;
}

.one{
    grid-column: 1 / 7;
}

nav {
    margin: 0;
    overflow: hidden;
}

nav img{
    position: relative;
    float: left;
    background: #33323D;
}

nav ul{
    float: right;
    margin: 0;
    padding: 0;
}
nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

nav > ul > li > a {
    color:#33323D;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}


.two{
    grid-column: 1 / 7;
    grid-row: 2 ;
}


.two p {
    /* float: left;
    position: relative;
    height: 200px; */
    font-family: Ibarra Real Nova;
    text-align: left;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.446429px;
    color: #33323D;
}
.two a{
height: 14px;
font-family: Public Sans;
font-size: 12px;
line-height: 14px;
letter-spacing: 2px;
text-transform: uppercase;
text-decoration: none;
padding: 12px;
background: #203A4C;
color: white;

}
 

.three{
    grid-column: 1 / 3;
    grid-row: 3 / 3;
}

.three img{
position: relative;
width: 540px;
height: 600px;
background: #F5F5F5;
}

.four{
    grid-column: 5 / 7;
    grid-row: 3 / 3;
}
.four h1{
    height: 42px;
    top: calc(50% - 42px/2 - 230px);

    font-family: Ibarra Real Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;

    letter-spacing: -0.357143px;

    color: #33323D;
}

.four p{
    top: calc(50% - 360px/2 - 1px);
    font-family: Public Sans;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.main-link{
    padding: 12px;
    border: 1px solid #33323D;
    text-decoration: none;
    color: #33323D;
}

.five{
    grid-column: 1 / 7;
    grid-row: 4 ;
}
#mycontact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.six{
    grid-column: 1 / 7;
    grid-row: 5;
}
/*  
.seven{
    grid-column: 1 / 3;
    grid-row: 4;
} */